@model CMS.Models.CategoryProduct
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 AllDLTrongNuoc" ng-controller="childCategoryProductController">
    <p class="TieuDe">DU LỊCH TRONG NƯỚC</p>
    <p class="TieuDe">---------------- <span class="fa fa-flag"></span> ----------------</p>
    <input type="hidden" value="34" id="idCategory" />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{'HangLe':index%2 == 0, 'HangChan':index%2==1}" ng-repeat="(index, value) in categories">
        <div ng-class="{'left':index%2 == 0, 'right':index%2==1}">
            <img class="img-responsive" ng-src="{{value.image}}" title="Du lịch {{value.title}}" alt="Du lịch {{value.title}}" />
        </div>

        <div ng-class="{'right':index%2 == 0, 'left':index%2==1}">
            <a href="/loai-tour/{{value.alias}}-{{value.idCategory}}" title="{{value.title}}" class="TieuDe">DU LỊCH {{value.title}}</a>
            <p class="GioiThieu" ng-bind-html="value.description"></p>
            <a href="/loai-tour/{{value.alias}}-{{value.idCategory}}" title="{{value.title}}" class="XemThem">XEM THÊM</a>
        </div>
    </div>
</div>