
@{
    ViewBag.Title = "Thêm đối tác";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div ng-app="myApp">
    <div ng-controller="themPartnerController">
        <input type="hidden" value="@WebSecurity.CurrentUserName" id="user" />
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-sm ink-reaction btn-success" ng-click="savePartner()"><span class="fa fa-edit"></span> Lưu</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-sm ink-reaction btn-info" ng-click="savePartnerAndExit()"><span class="fa fa-check-square-o"></span> Lưu & Thoát</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-sm ink-reaction btn-info" ng-click="savePartnerAndNew()"><span class="fa fa-plus"></span> Lưu & Thêm mới</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-sm ink-reaction btn-danger" ng-click="cancel()"><span class="fa fa-remove"></span> Hủy bỏ</button>
            </div>
        </div>
        <hr class="ruler-lg" />
        <div class="card">
            <div class="card-body">
                <form class="form" role="form">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group  " ng-class="{'has-error':!Partner.title, 'has-success':Partner.title}">
                                <input type="text" class="form-control" id="title" name="title" ng-model="Partner.title" ng-change="changeTitle()">
                                <label for="title">Tiêu đề *</label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="card-head">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#noidung">đối tác</a></li>
                        </ul>
                    </div>
                    <div class="card-body tab-content">
                        <div class="tab-pane active" id="noidung">
                            <div class="col-md-9">
                                <form class="form" role="form">
                                    <div class="form-group">
                                        <input type="text" name="image" id="image" ng-model="Partner.image" class="form-control" /> <button class="btn btn-primary" ng-click="chooseImage()">Chọn ảnh</button>
                                        <label for="image">Hình ảnh (1250x400)</label>
                                        <img class="img-responsive" src="{{Partner.image}}" ng-show="Partner.image" />
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-3">
                                <form class="form" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="link" name="link" ng-model="Partner.link" />
                                        <label for="link">Link</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>